# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
*.egg
wheels/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
condaenv*

# Type checker caches
.mypy_cache/
.pytype/

# VS Code
.vscode/

# PyCharm
.idea/


# macOS clutter and metadata
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows system and thumbnail files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.lnk
*.cab
*.msi
*.msm
*.msp

# Linux temporary and core files
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Cache
.cache
.codegpt

# Specific
tests/output
output/

# setuptools_scm generated  #
#geosirr/version.py

# Api keys
api_key_*.*

#presentations
*.pptx

# agents
AGENTS.md
.agents/
codex_tmp/

#mamba
mamba*
